#/bin/bash
docker stop delugevpn
docker rm delugevpn
sleep 5
docker run -d \
    --cap-add=NET_ADMIN \
    -p 8112:8112 \
    -p 8118:8118 \
    -p 58846:58846 \
    -p 58946:58946 \
    --name=delugevpn \
    -v /docker/downloads:/data/completed \
    -v /docker/containers/deluge/data:/data \
    -v /docker/containers/deluge/config:/config \
    -v /etc/localtime:/etc/localtime:ro \
    -e VPN_ENABLED=yes \
    -e VPN_USER={{pia_user}} \
    -e VPN_PASS={{pia_pass}} \
    -e STRICT_PORT_FORWARD=yes \
    -e VPN_PORT=1198 \
    -e VPN_PROTOCOL=udp \
    -e VPN_DEVICE_TYPE=tun \
    -e VPN_PROV=pia \
    -e STRONG_CERTS=no \
    -e ENABLE_PRIVOXY=yes \
    -e LAN_NETWORK=10.0.0.0/24 \
    -e NAME_SERVERS=8.8.8.8,8.8.4.4 \
    -e DEBUG=false \
    -e UMASK=000 \
    -e PUID=1000 \
    -e PGID=1000 \
    binhex/arch-delugevpn
